<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <!-- Logo o nome della tua applicazione -->
        <a class="navbar-brand" href="#">ExploreMunicipalities</a>
  
        <!-- Link di navigazione -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <!-- Link "Comuni" con routerLink -->
              <a routerLink="/list" routerLinkActive="router-link-active" class="btn btn-primary">Comuni</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


<router-outlet></router-outlet>

<footer class="bg-light text-center p-3">
    ExploreMunicipalities, progetto Applicazione web e mobile - Università degli Studi di Camerino
  </footer>
  


