.homepage {
    background-image: url('/assets/images/homepage.jpg'); /* Modifica il percorso secondo necessità */
    background-size: cover; /* Copre l'intera area */
    background-position: center; /* Centra l'immagine */
    background-repeat: no-repeat; /* Non ripete l'immagine */
    height: 80vh; /* Imposta l'altezza al 100% della viewport */
    color: white; /* Colore del testo (opzionale) */
}
